[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
google-cloud-ndb = "*"
pydantic = "*"
python-multipart = "*"
authlib = "*"
itsdangerous = "*"
httpx = "*"

[dev-packages]
vulture = "*"
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
types-google-cloud-ndb = "*"

[requires]
python_version = "3.9"
