<md-list id="dataView" ng-controller="DataController" ng-cloak>

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Date" ng-click="sortByDate()" />
        <md-tab label="Host" ng-click="sortByHost()" />
        <md-tab label="Rating" ng-click="sortByTotalRating()" />
        <md-tab label="Rated" ng-click="sortByOwnRating()" />
        <md-tab label="Search" ng-click="showSearch()" />
        <md-tab label="Appertizer" ng-click="sortByTotalVotePartRating('appetizer')" />
        <md-tab label="Main" ng-click="sortByTotalVotePartRating('main_course')" />
        <md-tab label="Dessert" ng-click="sortByTotalVotePartRating('dessert')" />
        <md-tab label="Game" ng-click="sortByTotalVotePartRating('game')" />
    </md-tabs>

    <div layout="row" ng-show="showingSearch || search.length > 0">
        <md-input-container class="md-block" flex>
            <label>Search</label>
            <input type="text" ng-model="search" />
            <md-tooltip>Use h:[input] to only search host</md-tooltip>
        </md-input-container>
    </div>

    <div layout="row" layout-align="space-around" ng-show="loadingData || $root.loadingPersons">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>

    <md-list-item ng-repeat="gameNight in gameNights | filter:customFilter(search)" class="md-3-line game-night" ng-class="{'red-background': (gameNight.voteStatus == 'red'), 'orange-background': (gameNight.voteStatus == 'orange'), 'round-separator': (sortingBy == 'Sort:Date' && gameNight.isLastOfRound) }" ng-click="openGameNightDialog($event, gameNight)" ng-show="$root.persons.length > 0">

        <img ng-src="/api/users/{{ personIdFromName(gameNight.host) }}/avatar/" class="md-avatar" alt="{{ gameNight.host }}" />

        <div class="md-list-item-text" style="padding: 0px 10px">
            <h3>{{ gameNight.date | date: 'dd/MM/yyyy' }}</h3>
            <h4 ng-show="gameNight.not_voted.length > 0">Not voted: <span ng-repeat="person in gameNight.not_voted">{{person}} </span></h4>
            <p>{{ gameNight.description }}</p>
        </div>

        <div class="md-list-item-text md-secondary">
            <p>
                <span class="tiny-text" ng-show="gameNight.own_vote.sum">{{ gameNight.own_vote.sum.toFixed(2) }} /</span>
                <span class="sum-badge">{{ gameNight.sum.toFixed(2) }}</span>
            </p>
        </div>

    </md-list-item>

</md-list>