.game-night {
    padding-top: 2px;
    padding-bottom: 5px;
    border: 1px solid #EBEBEB;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.person-label {
    width: 75px;
    font-size: 15px;
}

input.dice {
    width: 75px !important;
}