<style>
    #dataView .content {
        background-color: #daeeff;
    }
</style>

<div id="dataView" class="container-fluid" ng-controller="DataController">

    <div ng-show="showLandscapeWarning" class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Tilt your device, looks better!
    </div>

    <div ng-show="user.verified" class="btn-group" role="group">
        <button type="button" ng-click="addNewGameNightRow()" class="btn btn-primary btn-sm" style="width: 100px;">+</button>
        <button type="button" ng-click="save()" ng-disabled="isSaving" class="btn btn-success btn-sm" style="width: 100px;">Save</button>
    </div>

    <div id="gameNightRow_{{$index}}" ng-repeat="gameNight in gameNights" class="game-night row" ng-class="{'red-background': !gameNight.own_vote.complete_vote && gameNight.host != user.name}">
        <div class="col-xs-12">
            <div class="col-xs-2 col-md-2 nopadding">
                <input type="date" ng-model="gameNight.date" class="form-control" placeholder="yyyy-mm-dd" />
            </div >
            <div class="col-xs-2 col-md-2 nopadding">
                <select ng-if="!gameNight.id" class="form-control" ng-model="gameNight.host">
                    <option ng-repeat="personName in personNames" value="{{personName}}">{{personName}}</option>
                </select>
                <span ng-if="gameNight.id" class="label label-default person-label person-label-big">{{gameNight.host}}</span>
            </div >
            <div class="col-xs-7 col-md-7 nopadding">
                <input type="text" class="form-control" ng-model="gameNight.description"  placeholder="description..." />
            </div>
            <div class="col-xs-1 col-md-1 nopadding">
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseGameNight_{{$index}}" aria-expanded="true" aria-controls="collapseGameNight_{{$index}}">
                    <span ng-show="{{gameNight.own_vote}}">{{gameNight.own_vote.sum.toFixed(1)}} /</span>
                    {{gameNight.sum.toFixed(1)}}
                </a>
            </div>
        </div>
        <div id="collapseGameNight_{{$index}}" class="collapse col-xs-12">
            <div ng-show="vote.voter != gameNight.host" ng-repeat="vote in gameNight.votes | orderBy:['voter']">
                <div class="col-xs-4 nopadding">
                    <span class="label label-default person-label">{{vote.voter}}</span>
                </div>
                <div class="col-xs-2 nopadding">
                    <input type="number" class="form-control form-control-sm dice" ng-model="vote.appetizer" ng-disabled="vote.voter != user.name" placeholder="Appetizer" title="Appetizer">
                </div>
                <div class="col-xs-2 nopadding">
                    <input type="number" class="form-control form-control-sm dice" ng-model="vote.main_course" ng-disabled="vote.voter != user.name" placeholder="Main course" title="Main course">
                </div>
                <div class="col-xs-2 nopadding">
                    <input type="number" class="form-control form-control-sm dice" ng-model="vote.dessert" ng-disabled="vote.voter != user.name" placeholder="Dessert" title="Dessert">
                </div>
                <div class="col-xs-2 nopadding">
                    <input type="number" class="form-control form-control-sm dice" ng-model="vote.game" ng-disabled="vote.voter != user.name" placeholder="Game" title="Game">
                </div>
            </div>
        </div>
    </div>

</div>