md-list#dataView {
    padding: 0px;
}

/*.game-night {
    border-top: 1px solid #d2cdcd;
    border-bottom: 1px solid #d2cdcd;
}*/

.game-night:nth-last-child(4n) {
    /*margin-top: 88px;*/
    border-top: 3px solid #7a8dff;
}

.red-background {
    background-color: #f7b1b1;
}

.orange-background {
    background-color: #fbda9d;
}

.tiny-text {
    font-size: 70%;
}