.game-night {
    padding-top: 2px;
    padding-bottom: 5px;
    border: 1px solid #EBEBEB;
}

.nopadding-right {
   padding-right: 0 !important;
   margin-right: 0 !important;
}

.nopadding-left {
   padding-left: 0 !important;
   margin-left: 0 !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.person-label {
    width: 100%;
    font-size: 15px;
}

.person-label-big {
    height: 36px;
}

input.dice {
    width: 100% !important;
}

.red-background {
    background-color: #EB4B4B;
}