<md-dialog id="avatarDialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Avatar</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <input id="avatarFile" type="file" nv-file-select uploader="uploader" name="img" />

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-progress-circular class="md-hue-2" md-diameter="20px" ng-show="uploader.isUploading"></md-progress-circular>
            <md-button class="md-raised md-primary" ng-click="uploader.uploadAll()" ng-disabled="uploader.isUploading" ng-show="uploader.queue.length > 0">Upload</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>