<md-dialog id="adminDialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Admin</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <h3>Users</h3>
                <md-list>
                    <md-list-item ng-repeat="user in $root.users">
                        <img ng-src="{{ item.face }}?{{ $index }}" class="md-avatar" alt="{{ user.name }}" />
                        <md-button class="md-raised md-primary" ng-click="updateActivated(user, true)" ng-disabled="submitting" ng-hide="user.activated">Activate</md-button>
                        <md-button class="md-raised md-warn" ng-click="updateActivated(user, false)" ng-disabled="submitting" ng-show="user.activated">Deactivate</md-button>
                    </md-list-item>
                </md-list>

                <h3>Actions</h3>
                <md-button class="md-raised md-primary" ng-click="recalcGameNightSums()" ng-disabled="submitting">Recalculate game night sums</md-button>

            </div>
        </md-dialog-content>

    </form>
</md-dialog>