<md-dialog id="verificationDialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Verify</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Google Account</label>
                    <input type="text" ng-model="$root.user.google_email" placeholder="Should be read from google login..." readonly>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Who are you?</label>
                    <md-select ng-model="$root.user.name">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="name in availableUserNames" ng-value="name">{{name}}</md-option>
                    </md-select>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-progress-circular class="md-hue-2" md-diameter="20px" ng-show="submitting"></md-progress-circular>
            <md-button class="md-raised md-primary" ng-click="verify()" ng-disabled="submitting">Verify</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>