<div id="toolbarView" ng-controller="ToolbarController" ng-cloak>

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">

            <md-menu>
                <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <i class="material-icons md-light">menu</i>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-href="/api/auth/login/" ng-hide="user.google_email">Login</md-button>
                        <md-button ng-href="/api/auth/logout/" ng-show="user.google_email">Logout</md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="!user.person && user.google_email">
                        <md-button ng-click="openVerificationDialog($event)">Verify</md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="user.admin">
                        <md-button ng-click="openAdminDialog($event)">Admin</md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item ng-show="$root.persons.length > 0">
                        <md-button ng-click="openStatsDialog($event)">Stats</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <h2 flex md-truncate>
                <span ng-hide="user.name">{{user.google_email}}</span>
                <span ng-show="user.name">{{user.name}}</span>
                <md-button ng-show="user.google_email && !user.person" ng-click="openVerificationDialog($event)">(click to verify)</md-button>
            </h2>

            <md-button class="md-icon-button" ng-click="openCreateNewGameNightDialog($event)" ng-show="user.person && $root.persons.length > 0">
                <i class="material-icons md-light">add</i>
            </md-button>
        </div>
    </md-toolbar>

</div>