<div id="toolbarView" ng-controller="ToolbarController" ng-cloak>

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">

            <md-menu>
                <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <i class="material-icons md-light">menu</i>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-href="/api/users/login/" ng-hide="user.nickname">Login</md-button>
                        <md-button ng-href="/api/users/logout/" ng-show="user.nickname">Logout</md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="!user.verified && user.nickname">
                        <md-button ng-click="openVerificationDialog($event)">Verify</md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="user.is_admin">
                        <md-button ng-click="openAdminDialog($event)">Admin</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <h2 flex md-truncate>
                <span>{{user.nickname}}</span>
                <span ng-show="user.verified">({{user.name}})</span>
                <md-button ng-show="user.nickname && !user.verified" ng-click="openVerificationDialog($event)">(click to verify)</md-button>
            </h2>

            <md-button class="md-icon-button">
                <i class="material-icons md-light" ng-click="openCreateNewGameNightDialog($event)" ng-show="user.verified && $root.persons.length > 0">add</i>
            </md-button>
        </div>
    </md-toolbar>

</div>