<md-dialog id="statsDialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Stats</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div layout="row" layout-align="space-around" ng-show="loadingData">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>

                <h2>Voting Behavior</h2>
                <p>Difference between average vote and persons vote within each game night. Higher number means the person tends to vote higher than the average. Based on raw non-weighed numbers.</p>

                <table class="zui-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>GNs</th>
                            <th>
                                <a href="#" ng-click="statsBehaviorOrderByField='appetizer'; statsBehaviorReverseSort = !statsBehaviorReverseSort">
                                    Appe <span ng-show="statsBehaviorOrderByField == 'appetizer'"><span ng-show="!statsBehaviorReverseSort">^</span><span ng-show="statsBehaviorReverseSort">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="statsBehaviorOrderByField='main_course'; statsBehaviorReverseSort = !statsBehaviorReverseSort">
                                    Main <span ng-show="statsBehaviorOrderByField == 'main_course'"><span ng-show="!statsBehaviorReverseSort">^</span><span ng-show="statsBehaviorReverseSort">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="statsBehaviorOrderByField='dessert'; statsBehaviorReverseSort = !statsBehaviorReverseSort">
                                    Dess <span ng-show="statsBehaviorOrderByField == 'dessert'"><span ng-show="!statsBehaviorReverseSort">^</span><span ng-show="statsBehaviorReverseSort">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="statsBehaviorOrderByField='game'; statsBehaviorReverseSort = !statsBehaviorReverseSort">
                                    Game <span ng-show="statsBehaviorOrderByField == 'game'"><span ng-show="!statsBehaviorReverseSort">^</span><span ng-show="statsBehaviorReverseSort">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="statsBehaviorOrderByField='sum'; statsBehaviorReverseSort = !statsBehaviorReverseSort">
                                    Sum <span ng-show="statsBehaviorOrderByField == 'sum'"><span ng-show="!statsBehaviorReverseSort">^</span><span ng-show="statsBehaviorReverseSort">v</span></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="behavior in stats.behaviors | orderBy:statsBehaviorOrderByField:statsBehaviorReverseSort">
                            <td>{{ behavior.person }}</td>
                            <td>{{ behavior.count }}</td>
                            <td>{{ behavior.appetizer.toFixed(2) }}</td>
                            <td>{{ behavior.main_course.toFixed(2) }}</td>
                            <td>{{ behavior.dessert.toFixed(2) }}</td>
                            <td>{{ behavior.game.toFixed(2) }}</td>
                            <td>{{ behavior.sum.toFixed(2) }}</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Hosting Performance - Rounds</h2>
                <p>Format is [best in round], [worst in round], [times hosted]. Color formula based on those numbers can be found <a href="https://github.com/Andrioden/gnstats/blob/master/static/app/toolbar-extra.statsDialog.controller.js">here</a>.</p>

                <table class="zui-table">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th ng-repeat="person in $root.persons">{{ person.name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(category, performances) in stats.host_performances">
                            <td>{{ category }}</td>
                            <td ng-repeat="person in $root.persons" ng-style="backgroundStyle(performances[person.name])">
                                <span ng-show="performances[person.name]">{{ performances[person.name].best }}, {{ performances[person.name].worst }}, {{ performances[person.name].hosted }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h2>Hosting Performance - Average</h2>

                <table class="zui-table">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th ng-repeat="person in $root.persons">{{ person.name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(category, performances) in stats.host_performances">
                            <td>{{ category }}</td>
                            <td ng-repeat="person in $root.persons">
                                <span ng-show="performances[person.name]">{{ performances[person.name].avg.toFixed(1) }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </md-dialog-content>

    </form>
</md-dialog>